In [39]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [40]:
#crimerecord_2021="Resources/COBRA-2021.CSV"
crimerecord_2020="Resources/COBRA-2020_new.CSV"
crimerecord_2009_2019="Resources/COBRA-2009-2019.csv"
#crimerecord_202009="Resources/COBRA-2020-old.CSV"

In [41]:
#crimerecord_2021_df=pd.read_csv(crimerecord_2021,encoding="utf-8")
#crimerecord_202009_df=pd.read_csv(crimerecord_202009,encoding="utf-8")
crimerecord_2020_df=pd.read_csv(crimerecord_2020)
crimerecord_2009_2019_df=pd.read_csv(crimerecord_2009_2019,encoding="utf-8")

C:\Users\gsun\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (3,11) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [44]:
crimerecord_2020_df = crimerecord_2020_df.dropna(how='all')

In [42]:
crimerecord_2020_df

,offense_id,rpt_date,occur_date,occur_time,poss_date,poss_time,beat,apartment_office_prefix,apartment_number,location,watch,location_type,UC2_Literal,UCR_Number,neighborhood,npu,lat,long,ibr_code
0,203660108.0,12/31/2020,12/31/2020,1:15,12/31/2020,1:15,306,NaN,NaN,1974 SYLVAN RD SW,NaN,NaN,AGG ASSAULT,NaN,Sylvan Hills,X,33.700432,-84.418128,13A
1,203660240.0,12/31/2020,12/31/2020,0:00,12/31/2020,5:43,506,NaN,NaN,361 OLIVER ST NW,NaN,NaN,AUTO THEFT,NaN,English Avenue,L,33.764633,-84.415338,240
2,203660279.0,12/31/2020,12/31/2020,3:50,12/31/2020,4:09,506,NaN,NaN,800 WEST MARIETTA ST NW,NaN,NaN,LARCENY-NON VEHICLE,NaN,English Avenue,L,33.778925,-84.412613,23B
3,203660299.0,12/31/2020,12/31/2020,4:15,12/31/2020,5:52,304,NaN,NaN,1054 RIDGE AVE SW,NaN,NaN,ROBBERY,NaN,Peoplestown,V,33.726336,-84.391717,120
4,203660335.0,12/31/2020,12/31/2020,3:00,12/31/2020,7:22,212,NaN,NaN,2284 CHESHIRE BRIDGE RD NE,NaN,NaN,LARCENY-FROM VEHICLE,NaN,Lindridge/Martin Manor,F,33.817488,-84.352555,23F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
len(crimerecord_2020_df)

22046

In [51]:
#crimerecordxyz = pd.to_datetime(crimerecord_2009_2019_df['Occur Date'],format='%Y-%m-%d', errors='ignore')

In [52]:
#crimerecordxyz

0        2009-01-01
1        2009-01-01
2        2009-01-01
3        2009-01-01
4        2009-01-01
            ...
342909   2019-12-31
342910   2019-12-31
342911   2019-12-31
342912   2019-12-31
342913   2019-12-31
Name: Occur Date, Length: 342914, dtype: datetime64[ns]

In [59]:
#crimerecord_abc = pd.to_datetime(crimerecord_2021_df['occur_date'],format='%m/%d/%Y')

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 220-11-01 00:00:00

In [ ]:
# possible steps to rectify:
# lambda function
# filtering based on digits in year
# loop through the rows and columns

In [57]:
crimerecord_abc

0        7/8/2020
1       6/13/2020
2       1/20/2021
3       10/5/2020
4       11/5/2020
          ...
9299    1/27/2021
9300    1/28/2021
9301    1/28/2021
9302    1/28/2021
9303    1/20/2021
Name: occur_date, Length: 9304, dtype: object

In [ ]:
crimerecord_2020_df.columns

In [29]:
crimerecord_2020_df

,offense_id,rpt_date,occur_date,occur_time,poss_date,poss_time,beat,apartment_office_prefix,apartment_number,location,watch,location_type,UC2_Literal,UCR_Number,neighborhood,npu,lat,long,ibr_code
0,203660108.0,12/31/2020,12/31/2020,1:15,12/31/2020,1:15,306,NaN,NaN,1974 SYLVAN RD SW,NaN,NaN,AGG ASSAULT,NaN,Sylvan Hills,X,33.700432,-84.418128,13A
1,203660240.0,12/31/2020,12/31/2020,0:00,12/31/2020,5:43,506,NaN,NaN,361 OLIVER ST NW,NaN,NaN,AUTO THEFT,NaN,English Avenue,L,33.764633,-84.415338,240
2,203660279.0,12/31/2020,12/31/2020,3:50,12/31/2020,4:09,506,NaN,NaN,800 WEST MARIETTA ST NW,NaN,NaN,LARCENY-NON VEHICLE,NaN,English Avenue,L,33.778925,-84.412613,23B
3,203660299.0,12/31/2020,12/31/2020,4:15,12/31/2020,5:52,304,NaN,NaN,1054 RIDGE AVE SW,NaN,NaN,ROBBERY,NaN,Peoplestown,V,33.726336,-84.391717,120
4,203660335.0,12/31/2020,12/31/2020,3:00,12/31/2020,7:22,212,NaN,NaN,2284 CHESHIRE BRIDGE RD NE,NaN,NaN,LARCENY-FROM VEHICLE,NaN,Lindridge/Martin Manor,F,33.817488,-84.352555,23F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22041,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22042,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22045,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
crimerecord_2009_2019_df.columns

In [10]:
crimerecord_2009_2019_clean=crimerecord_2009_2019_df[['Report Number', 'Occur Date', 'Occur Time', 'Location', 
       'UCR Literal','IBR Code','Neighborhood', 'Latitude','Longitude']]
crimerecord_2009_2019_clean.head()

,Report Number,Occur Date,Occur Time,Location,UCR Literal,IBR Code,Neighborhood,Latitude,Longitude
0,193651657.0,12/31/2019,1458,1388 LA FRANCE ST NE,LARCENY-NON VEHICLE,2308,Edgewood,33.76053,-84.34220
1,193651031.0,12/31/2019,1300,443 MORELAND AVE SE,LARCENY-NON VEHICLE,2302,Ormewood Park,33.74179,-84.34973
2,193650870.0,12/31/2019,1200,2711 METROPOLITAN PKWY SW,LARCENY-NON VEHICLE,2303,Hammond Park,33.68092,-84.40814
3,193651019.0,12/31/2019,1300,969 MARIETTA ST NW,LARCENY-NON VEHICLE,2303,Marietta Street Artery,33.77828,-84.40910
4,193651039.0,12/31/2019,1300,3070 BOLLING WAY NE,LARCENY-NON VEHICLE,2303,Buckhead Village,33.83888,-84.37995

In [45]:
crimerecord_2020_clean=crimerecord_2020_df[['offense_id',  'occur_date', 'occur_time', 'location', 
        'UC2_Literal','ibr_code','neighborhood', 'lat', 'long']]
crimerecord_2020_clean

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,neighborhood,lat,long
0,203660108.0,12/31/2020,1:15,1974 SYLVAN RD SW,AGG ASSAULT,13A,Sylvan Hills,33.700432,-84.418128
1,203660240.0,12/31/2020,0:00,361 OLIVER ST NW,AUTO THEFT,240,English Avenue,33.764633,-84.415338
2,203660279.0,12/31/2020,3:50,800 WEST MARIETTA ST NW,LARCENY-NON VEHICLE,23B,English Avenue,33.778925,-84.412613
3,203660299.0,12/31/2020,4:15,1054 RIDGE AVE SW,ROBBERY,120,Peoplestown,33.726336,-84.391717
4,203660335.0,12/31/2020,3:00,2284 CHESHIRE BRIDGE RD NE,LARCENY-FROM VEHICLE,23F,Lindridge/Martin Manor,33.817488,-84.352555
...,...,...,...,...,...,...,...,...,...
21901,200011298.0,1/1/2020,14:45,2630 MARTIN L KING JR DR SW,AUTO THEFT,NaN,Harland Terrace,33.753770,-84.474050
21902,200011823.0,1/1/2020,20:00,540 HUMPHRIES ST SW,AUTO THEFT,NaN,Mechanicsville,33.739900,-84.404880
21903,200020105.0,1/1/2020,21:45,1174 EUCLID AVE NE,AUTO THEFT,NaN,Inman Park,33.765530,-84.349340
21904,200020704.0,1/1/2020,20:00,383 RALPH MCGILL BLVD NE,AUTO THEFT,NaN,Old Fourth Ward,33.763910,-84.374890
21905,201511120.0,1/1/2020,13:00,144 PONCE DE LEON AVE,AUTO THEFT,NaN,Midtown,33.772550,-84.382490

In [46]:
crime_09_19=crimerecord_2009_2019_clean.rename(columns={'Report Number':"offense_id", "Occur Date":"occur_date", "Occur Time":"occur_time", 
                                                        'Location':'location',  'UCR Literal':'UC2_Literal','IBR Code':'ibr_code','Neighborhood':'neighborhood', 'Latitude':'lat','Longitude':'long'})

crime_09_19

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,neighborhood,lat,long
0,193651657.0,12/31/2019,1458,1388 LA FRANCE ST NE,LARCENY-NON VEHICLE,2308,Edgewood,33.76053,-84.34220
1,193651031.0,12/31/2019,1300,443 MORELAND AVE SE,LARCENY-NON VEHICLE,2302,Ormewood Park,33.74179,-84.34973
2,193650870.0,12/31/2019,1200,2711 METROPOLITAN PKWY SW,LARCENY-NON VEHICLE,2303,Hammond Park,33.68092,-84.40814
3,193651019.0,12/31/2019,1300,969 MARIETTA ST NW,LARCENY-NON VEHICLE,2303,Marietta Street Artery,33.77828,-84.40910
4,193651039.0,12/31/2019,1300,3070 BOLLING WAY NE,LARCENY-NON VEHICLE,2303,Buckhead Village,33.83888,-84.37995
...,...,...,...,...,...,...,...,...,...
342909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342911,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342912,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
342913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
crime_09_20=crime_09_19.append(crimerecord_2020_clean)
crime_09_20

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,neighborhood,lat,long
0,193651657.0,12/31/2019,1458,1388 LA FRANCE ST NE,LARCENY-NON VEHICLE,2308,Edgewood,33.76053,-84.34220
1,193651031.0,12/31/2019,1300,443 MORELAND AVE SE,LARCENY-NON VEHICLE,2302,Ormewood Park,33.74179,-84.34973
2,193650870.0,12/31/2019,1200,2711 METROPOLITAN PKWY SW,LARCENY-NON VEHICLE,2303,Hammond Park,33.68092,-84.40814
3,193651019.0,12/31/2019,1300,969 MARIETTA ST NW,LARCENY-NON VEHICLE,2303,Marietta Street Artery,33.77828,-84.40910
4,193651039.0,12/31/2019,1300,3070 BOLLING WAY NE,LARCENY-NON VEHICLE,2303,Buckhead Village,33.83888,-84.37995
...,...,...,...,...,...,...,...,...,...
21901,200011298.0,1/1/2020,14:45,2630 MARTIN L KING JR DR SW,AUTO THEFT,NaN,Harland Terrace,33.75377,-84.47405
21902,200011823.0,1/1/2020,20:00,540 HUMPHRIES ST SW,AUTO THEFT,NaN,Mechanicsville,33.73990,-84.40488
21903,200020105.0,1/1/2020,21:45,1174 EUCLID AVE NE,AUTO THEFT,NaN,Inman Park,33.76553,-84.34934
21904,200020704.0,1/1/2020,20:00,383 RALPH MCGILL BLVD NE,AUTO THEFT,NaN,Old Fourth Ward,33.76391,-84.37489
21905,201511120.0,1/1/2020,13:00,144 PONCE DE LEON AVE,AUTO THEFT,NaN,Midtown,33.77255,-84.38249

In [48]:
crime_09_20.count()

offense_id      364422
occur_date      364422
occur_time      364422
location        364420
UC2_Literal     364422
ibr_code        349562
neighborhood    351124
lat             364422
long            364422
dtype: int64

In [49]:
crime_09_20=crime_09_20.dropna(how='all')

In [51]:
crime_09_20.count()

offense_id      364422
occur_date      364422
occur_time      364422
location        364420
UC2_Literal     364422
ibr_code        349562
neighborhood    351124
lat             364422
long            364422
dtype: int64

In [52]:
crime_09_20.dtypes

offense_id      float64
occur_date       object
occur_time       object
location         object
UC2_Literal      object
ibr_code         object
neighborhood     object
lat             float64
long            float64
dtype: object

In [17]:
crime_09_20.head()

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,neighborhood,lat,long
0,193651657.0,12/31/2019,1458,1388 LA FRANCE ST NE,LARCENY-NON VEHICLE,2308,Edgewood,33.76053,-84.34220
1,193651031.0,12/31/2019,1300,443 MORELAND AVE SE,LARCENY-NON VEHICLE,2302,Ormewood Park,33.74179,-84.34973
2,193650870.0,12/31/2019,1200,2711 METROPOLITAN PKWY SW,LARCENY-NON VEHICLE,2303,Hammond Park,33.68092,-84.40814
3,193651019.0,12/31/2019,1300,969 MARIETTA ST NW,LARCENY-NON VEHICLE,2303,Marietta Street Artery,33.77828,-84.40910
4,193651039.0,12/31/2019,1300,3070 BOLLING WAY NE,LARCENY-NON VEHICLE,2303,Buckhead Village,33.83888,-84.37995

In [53]:
crime_09_20.tail()

,offense_id,occur_date,occur_time,location,UC2_Literal,ibr_code,neighborhood,lat,long
21901,200011298.0,1/1/2020,14:45,2630 MARTIN L KING JR DR SW,AUTO THEFT,NaN,Harland Terrace,33.75377,-84.47405
21902,200011823.0,1/1/2020,20:00,540 HUMPHRIES ST SW,AUTO THEFT,NaN,Mechanicsville,33.73990,-84.40488
21903,200020105.0,1/1/2020,21:45,1174 EUCLID AVE NE,AUTO THEFT,NaN,Inman Park,33.76553,-84.34934
21904,200020704.0,1/1/2020,20:00,383 RALPH MCGILL BLVD NE,AUTO THEFT,NaN,Old Fourth Ward,33.76391,-84.37489
21905,201511120.0,1/1/2020,13:00,144 PONCE DE LEON AVE,AUTO THEFT,NaN,Midtown,33.77255,-84.38249

In [19]:
crime_09_20['occur_date'].unique()

array(['12/31/2019', '12/30/2019', '12/29/2019', ..., '10/3/2020',
       '10/2/2020', '10/1/2020'], dtype=object)

In [20]:
crime_09_20['UC2_Literal'].unique()

array(['LARCENY-NON VEHICLE', 'ROBBERY-PEDESTRIAN', 'HOMICIDE',
       'AUTO THEFT', 'BURGLARY-NONRES', 'LARCENY-FROM VEHICLE',
       'AGG ASSAULT', 'BURGLARY-RESIDENCE', 'ROBBERY-RESIDENCE',
       'ROBBERY-COMMERCIAL', 'MANSLAUGHTER', 'ROBBERY', 'BURGLARY'],
      dtype=object)

In [55]:
crime_09_20.to_csv("crime_09_20.csv",index=False, header=True)